 body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    text-align: center;
} 

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: #123524;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: #123524;
}

.Calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.nutrition-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #fff;
    width: 80%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nutrition-card:hover {
    transform: scale(1.05);
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

form h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    color:aliceblue;
    background-color: #339465;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    color: black;
    background-color: rgb(87, 182, 246);
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px;

}



.header {
    text-align: center;
}
